.header {
    overflow-x: hidden;
    padding-bottom: 40px;

}

.hero {
    width: 1170px;
    color: #000;
    margin-top: 100px;
}

.nav-menu1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    color: #1D1D1D;
    margin: 0 20px;
    z-index: 888;
    border-bottom: 2px solid transparent;

}

.nav-item:hover {
    color: #FA001D;
    border-bottom: 2px solid #FA001D;
    transition: 0.5s;

}


.logo-block {
    display: flex;
    justify-content: flex-start;
}

.logo {
    width: 50px;
    height: 50px;

}

.logo1 {
    font-weight: 700;
    color: #FA001D;
    margin-top: 30px;
}

.main-text {
    font-weight: bold;
    font-size: 600px;
    line-height: 711px;
    position: absolute;
    color: #000000;
    background: transparent;
    border: transparent;

}

.main--title {
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.055em;
    width: 608px;
    color: #FA001D;
    animation: title 1.3s ease-in-out alternate;

}

.bev {
    -webkit-animation: bev 2s ease-in-out alternate;
    -webkit-animation-delay: 0.2s;
    position: absolute;
    left: 520px;

}

@keyframes bev {

    0% {
        transform: rotate(45deg);
        top: -300px;

    }
    90% {
        transform: rotate(45deg);
    }
    100% {
        top: 1px;
        transform: rotate(0);

    }

}

@keyframes title {
    0% {
        transform: translateY(-200px);
        opacity: 0;
        animation-delay: 5s;
    }
    50% {
        transform: translateY(-200px);
        opacity: 0;

    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes desc {
    0% {
        transform: translateY(-80px);
        opacity: 0;
        transition-delay: 5s;
        font-size: 50px;
    }
    50% {
        transform: translateY(-80px);
        transition-delay: 5s;
        opacity: 0;
        font-size: 50px;
    }
    60% {
        font-size: 50px;
        transition-delay: 5s;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.img__1 {
    position: absolute;
    z-index: 7;
    margin-top: -700px;
    margin-left: 510px;
    animation: pauk ease-in 2.99s;
}
@keyframes pauk {
    0% {
        transform: translateY(0);
        animation-duration: 5s;
    }
    20% {

    }
    57.5% {
        transform: translateY(320px);
        animation-duration: 5s;
    }
    60% {
        transform: translateY(320px);
        animation-duration: 5s;
    }
    75% {
        transform: translateY(322px);
    }

    100% {
        transform: translateY(0);
    }

}
.main-desc {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    width: 484px;
    letter-spacing: 0.055em;
    animation: desc 1.6s ease alternate;
    color: #000000;
}
.aman1 {
    font-weight: 700;
    font-size: 50px;
    position: absolute;
    line-height: 44px;
    /* identical to box height */
    width: 484px;
    letter-spacing: 0.055em;
    animation: desc2 1.6s ease alternate;
    color: #000000;
    opacity: 0;
}

@keyframes desc1 {
    0% {
        transform: translateY(-80px) ;
        opacity: 1;
        transition-delay: 10s;
    }
    50% {
        transform: translateY(-80px);
        opacity: 1;
        transition-delay: 10s;
    }


    100% {
        transform: translateY(0)  translateX(0);
        opacity: 0;
    }
}
.aman2 {
    font-weight: 700;
    padding-left: 270px;
    font-size: 35px;
    margin-top: -60px;
    line-height: 44px;
    position: absolute;
    /* identical to box height */
    width: 484px;
    letter-spacing: 0.055em;
    animation: desc1 1.6s ease alternate;

    color: #000000;

}

@keyframes desc1 {
    0% {
        transform: translateY(-80px) translateX(200px);
        opacity: 0;
        transition-delay: 5s;
    }
    50% {
        transform: translateY(-80px)  translateX(200px);
        opacity: 0;
    }


    100% {
        transform: translateY(0)  translateX(0);
        opacity: 1;
    }
}
.img__1 {
    position: absolute;
    z-index: 7;
    margin-top: -700px;
    margin-left: 510px;
    animation: pauk ease-in 2.99s;
}


.box-2 {
    margin-top: -470px;
    display: flex;
    margin-left: 600px;
    justify-content: center;

}

.nasa {
    position: absolute;
    width: 500px;
    height: 650px;
    animation: nasa1 1s ease-in alternate;

}

.bg-nasa {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: flex-start;
    width: 490px;
    height: 600px;
    margin-top: 10px;
    animation: nasa 1s ease-in-out alternate;
}

@keyframes nasa {
    0% {
        margin-top: 90px;
    }

}

.woow {
    position: relative;
    margin-top: 100px;
    background: #000000;
    border-radius: 20px;
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

}

#demo {
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    padding-left: 20px;
    color: #000000;
}

.woow-block {
    margin-top: 10px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #FFFFFF;
    border-radius: 20px;
}

.woow-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    margin-right: 15px;

    color: #000000;
}

.woow-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    /* identical to box height */
    margin-top: 15px;
    letter-spacing: 0.055em;
    width: 690px;
    color: #FFFFFF;
}

.woow-present {
    position: absolute;
    font-weight: 900;
    font-size: 44px;
    line-height: 78px;
    left: -70px;
    top: -24px;
    color: #FA001D;

    transform: rotate(-30deg);
}

.sale {
    position: absolute;
    right: -30px;
    top: -20px;
    animation: sale 2s ease-in-out infinite;
}

@keyframes sale {
    0% {
        transform: rotate(360deg);
    }
}


/* Position and sizing of burger button */
.bm-burger-button {
    display: none;
    position: fixed;
    width: 36px;
    height: 30px;
    top: 30px;
    right: 50px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #000000;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #000000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    width: 35px;
    height: 35px;
    background: linear-gradient(93.59deg, #EF0000 23.91%, #E63737 100%);
}

/* Color/shape of close button cross */
.bm-cross {
    background: #000000;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 95px;
}

/* General sidebar styles */
.bm-menu {
    background: #000000;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #ffff;
}

/* Wrapper for item list */
.bm-item-list {
    color: #000000;
    display: flex;
    padding: 0.8em;
    flex-direction: column;
    margin-top: 86px;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
}

/*.burger-menu span {*/
/*    width: 50px;*/
/*    height: 4px;*/
/*    background: #fff;*/

/*}*/

/*.burger-menu span:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #fff;*/
/*    display: flex;*/
/*}*/

@media (max-width: 1024px) {
    .box-2 {
        margin-left: 462px;
    }
    .bev {
        z-index: 2;
    }
    .woow {
        width: 935px;
        height: 130px;
    }
    .woow-block {
        margin-left: -38px;
    }
    .woow-title {
        width: 440px;
        margin-top: -15px;
        margin-left: 30px;
    }
}
@media (max-width: 992px) {
    .bev {
        margin-left: -120px;
    }
    .nav-menu2 {
        display: none;
    }

    .bm-burger-button {
        display: flex;
    }

    .nav-item {
        color: #FFFFFF;
        font-size: 28px;
        margin-bottom: 20px;
    }

    .box-2 {
        margin-left: 450px;
    }

    .main--title {
        font-size: 55px;
    }

    .main-desc {
        font-size: 30px;
    }

    .woow {
        width: 930px;
    }

    .woow-present {
        top: -30px;
        font-size: 35px;
        left: -35px;
    }

    .woow-title {
        font-size: 25px;
        margin-left: 10px;
    }

    .woow-text {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .bev {
        margin-left: -217px;
    }
    .woow-text {
        font-size: 20px;
    }

    .menu {
        margin-left: -50px;
    }

    .box-2 {
        z-index: -3;
        margin-left: 171px;
    }

    .nasa {
        width: 403px;
        height: 571px;
    }

    .bg-nasa {
        width: 400px;
        height: 550px;
    }

    .main--title {
        font-size: 40px;
        line-height: 48px;
    }

    .main-desc {
        font-size: 23px;
        z-index: 499;
    }

    .woow-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }
    .woow-block {
        width: 581px;
        margin-left: 58px;
    }

    .sale {
        right: -30px;
    }

    .woow {
        width: 690px;
    }

}

@media (max-width: 576px) {
    .woow {
        margin-top: 173px;
        width: 380px;
    }

    .col-sm12 {
        display: flex;
        flex-direction: column;

    }

    .box-2 {
        margin-left: 0;
        margin-top: 175px;
    }

    .bev {
        left: 500px;

    }

    @keyframes bev {
        0% {
            top: -200px;
        }
        100% {
            top: -90px;
        }
    }

    .logo1 {
        display: none;
    }

    .woow {
        width: 370px;
        height: 180px;
        padding: 70px 10px;

    }

    .logo {
        width: 100px;
        height: 60px;
        margin-left: 35px;
        margin-top: 12px;
    }

    .burger-menu {
        z-index: 999;
        right: 72px;
    }

    /*.woow-present {*/
    /*    opacity: 0;*/
    /*    position: absolute;*/
    /*    left: 0;*/
    /*    top: 0;*/
    /*}*/
    .burger-menu span:before {
        background: #000;
    }

    .main--title {
        margin-top: -90px;
        line-height: 45px;
    }

    .nasa {
        width: 352px;
        height: 450px;
    }

    .bg-nasa {
        width: 350px;
        height: 450px;

    }

    .woow-title {
        font-size: 21px;
        width: 250px;
        margin-left: 40px;
        margin-top: -10px;

    }

    .demo {
        font-size: 21px;
    }
}

@media (max-width: 414px) {

    .woow {
        width: 370px;
    }

    .main--title {
        margin-top: -90px;
        line-height: 45px;
    }
}

@media (max-width: 375px) {
    .woow {
        width: 344px;
    }
}

@media (max-width: 320px) {
    .bev {
        left: 467px;
    }

    .woow-present {
        font-size: 20px;
        left: -20px;
    }

    .sale {
        width: 69px;
        height: 35px;
    }

    .woow {
        width: 300px;
    }

    .main--title {
        font-size: 35px;
        z-index: 2;
    }

    .bg-nasa {
        width: 321px;
        height: 378px;
        margin-left: -15px;

    }

    .bm-burger-button {
        right: 30px;
    }

    .nasa {
        width: 321px;
        height: 390px;
        margin-left: -15px;
    }

    .box-2 {
        margin-top: 116px;
    }
}