* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a, a:hover {
    text-decoration: none;
    color: #ffffff;

}

ul, li {
    list-style: none;
}

/*-----------------header-start--------------------*/

#header {

    position: fixed;
    width: 100%;
    z-index: 44;
    background: rgba(0, 0, 0, 0.4);

}

.logo {
    width: 150px;
    height: 100px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
}

.header__menu h1 {
    font-weight: 900;
    font-size: 24px;
    color: #EF0000;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 32px;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon input {
    position: absolute;
    margin-left: 7px;
    background: transparent;
    border: none;
    outline: none;
    height: 30px;
    color: #FFFFFF;
    width: 0;
    opacity: 0;
    border-bottom: 1px solid #fff;
    padding-right: 30px;
    transition: all .5s linear;
}

.icon:hover input {
    width: 310px;
    opacity: 1;
}

.icon input:focus {
    width: 310px;
    opacity: 1;
}

.lini {
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: -113px;
    width: 100%;
    height: 1px;
    top: 124px;
    background: rgba(255, 255, 255, 0.8);
}

/*-----------------header-end--------------------*/


@media (max-width: 1024px) {
    #header {
        margin-left: 30px;
    }
}

@media (max-width: 992px) {
    #header {
        margin-left: 73px;
    }
}

@media (max-width: 768px) {
    #header {
        margin-left: 73px;
    }
}