@media (max-width: 1024px) {
    #hero {
        min-height: 80vh;
    }
    .nav {
        margin-left: 0;
    }
    .hero__title {
        font-size: 58px;
    }
    .hero-btn {
        font-size: 13px;
    }
    .hero__img {
        margin-top: 109px;
        margin-left: 120px;
        width: 450px;
        height: 450px;
    }
    .about_box {
        margin-left: -35px;
    }
    .about__block {
        width: 230px;
        height: 180px;

    }
    .service_block {
        width: 301px;
        height: 330px;
    }
    .service_block img {
        width: 80px;
        height: 80px;
        margin-left: -25px;
        margin-top: -12px;
    }
    .service_block span {
        padding-top: 3px;
        font-size: 21px;
    }
    .service_block h3 {
        font-size: 13px;
    }
    .service_bl-p {
        margin-top: -9px;
        font-size: 21px;
    }
    .studio__desc {
        font-size: 12px;
        width: 380px;
    }

    .studio__img {
        margin-left: 80px;
        width: 370px;
        height: 370px;
    }
    #studio {
        height: 500px;
    }
    .works__title {
        font-size: 28px;
    }
    .block__box {
        margin-left: -45px;
    }
    .footer__top__block {
        margin-left: -10px;
    }
    .service_reg {
        margin-left: -25px;
    }
    .service_reg:before {
        font-size: 22px;
        margin-left: 71px;

    }
    .service_reg button {
        font-size: 22px;
        padding: 6px 14px;
        margin-top: 186px;
        margin-left: 89px;
    }


}

@media (max-width: 992px) {
    .nav{
        display: none;
    }
    .nav__img {
        margin-left: 40px;
    }
    .hero__title {
        margin-top: 25px;
        font-size: 56px;
    }
    .hero-btn {
        font-size: 12px;
        margin-top: -8px;
    }
    .hero__img {
        margin-top: 132px;
        margin-left: 140px;
        width: 400px;
        height: 400px;
    }
    .about__block {
        width: 226px;
        height: 175px;
    }
    .about__block img {
        width: 90px;
        height: 70px;
    }
    .about__block h1 {
        font-size: 18px;
    }
    .block__box {
        margin-left: -65px;
    }
    .service_reg {
        margin-left: -25px;
    }
    .service_reg:before {
        font-size: 22px;
        margin-left: 71px;

    }
    .service_reg button {
        font-size: 22px;
        padding: 6px 14px;
        margin-top: 186px;
        margin-left: 89px;
    }


}
@media (max-width: 768px) {
    .hero__img{
        display: none;
    }
    #studio {
        height: 812px;
    }
    .nav{
        display: none;
    }
    .hero-nav {
        margin-left: 176px;
    }
    .hero__title {
        font-size: 62px;
    }
    .about__block {
        width: 168px;
        height: 151px;
    }
    .about__block img {
        width: 70px;
        height: 50px;
    }
    .about__block h1 {
        font-size: 15px;
    }
    .row {
        display: flex;
        justify-content: center;
    }
    .service_block {
        margin-left: 202px;
    }
    .service_reg {
        margin-left: -25px;
    }
    .service_reg:before {
        font-size: 22px;
        margin-left: 71px;

    }
    .service_reg button {
        font-size: 22px;
        padding: 6px 14px;
        margin-top: 186px;
        margin-left: 89px;
    }
    .studio__desc {
        margin-left: 192px;
    }
    .studio__img {
        margin-left: 171px;
        width: 340px;
        height: 340px;
    }
    .block__box {
        margin-left: 89px;
    }
    .footer__top__img {
        width: 301px;
    }
    .footer__top__block {
        width: 51%;
        padding: 8px;
        margin-left: 330px;
        margin-top: -18px;
    }
    .first__block__top h4 {
        font-size: 17px;
    }
    .first__block__top h3 {
        font-size: 17px;
    }
    .first__block__center ul li a {
        font-size: 12px;
    }
}
@media (max-width: 576px) {
    .hero-nav {
        margin-left: 239px;
    }
    .hero__title {
        font-size: 46px;
    }
    .about__block {
        width: 122px;
        height: 119px;
    }
    .about__block img {
        width: 45px;
        height: 35px;
    }
    .about__block h1 {
        font-size: 12px;
    }
    .studio__desc {
        margin-left: 84px;
    }
    .studio__img {
        margin-left: 69px;
    }
    .block__box {
        margin-left: 70px;
        width: 400px;
        height: 335px;
    }
    .box__input input {
        width: 163px;
        font-size: 12px;
    }
    .input__box {
        width: 334px;
        font-size: 14px;
        height: 84px;
    }
    .input__btn {
        width: 340px;
        height: 34px;
        margin-top: 24px;
    }
    .studio__desc1 {
        font-size: 10px;
        margin-top: 15px;
    }
    .footer__top__img {
        width: 236px;
    }
    .footer__top__block {
        width: 53%;
        padding: 7px;
        margin-left: 255px;
        margin-top: -18px;
    }
    .first__block__top h4 {
        font-size: 14px;
    }
    .first__block__top h3 {
        font-size: 13px;
    }
    .first__block__center ul li a {
        font-size: 11px;
    }
    .ak1 {
        font-size: 9px;
    }
    .footer__bottom {
        font-size: 9px;
        margin-top: 8px;
    }


}


@media (max-width: 320px) {
    .nav__img {
        margin-left: -50px;
    }
    .hero-nav {
        margin-left: 9px;
    }
    .hero__title {
        font-size: 39px;
    }
    .hero__desc {
        font-size: 13px;
    }
    .hero-btn {
        font-size: 11px;
        padding: 5px 10px;
    }
    .hero__p {
        font-size: 10px;
        margin-top: 16px;
        width: 270px;
    }
    .img {
        width: 300px;
        height: 250px;
    }
    .about_box {
        display: contents;
    }
    .about__block {
        width: 260px;
        height: 190px;
        font-size: 10px;
    }
    .about__block h1 {
        font-size: 20px;
    }
    .about__block {
        width: 260px;
        height: 190px;
        font-size: 10px;
        margin-bottom: 15px;
    }
    .about__block img {
        width: 100px;
        height: 90px;
    }
    #baz {
        background: black;
        width: 100%;
        min-height: 100vh;
        margin-top: -15px;
    }
    .studio__desc {
        margin-left: -1px;
        font-size: 12px;
        width: 300px;
    }
    .studio__img {
        margin-left: 0;
        width: 300px;
        height: 300px;
    }
    .block__box {
        margin-left: 8px;
        width: 280px;
        height: 310px;
    }
    .box__input input {
        width: 105px;
        font-size: 10px;
    }
    .input__box {
        width: 220px;
        font-size: 11px;
        height: 79px;
    }
    .input__btn {
        width: 200px;
        height: 24px;
        margin-top: 9px;
        font-size: 10px;
        margin-left: 21px;
    }
    .studio__desc1 {
        font-size: 8px;
        margin-top: 9px;
        width: 238px;
        margin-left: 6px;
    }
    .service_block {
        margin-left: -14px;
    }
    .first__block__top h4 {
        font-size: 9px;
    }
    .first__block__top h3 {
        font-size: 8px;
    }
    .first__block__center ul li a {
        font-size: 9px;
    }
    .icon {
        margin: 10px 10px;
    }
    .icon1{
        margin-bottom: 10px;
    }
    .ak1 {
        font-size: 7px;
    }
    .footer__bottom span {
        font-size: 4px;
    }

}